[Unit]
Description=Tiny Apple silicon touch bar daemon
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service systemd-logind.service
BindsTo=dev-tiny_dfr_display.device dev-tiny_dfr_backlight.device

[Service]
ExecStart=/usr/bin/tiny-dfr
Restart=always
